extends layout

block content
	#banner.page-header
		
			

		.row
			.col-xs-12.col-md-6.col-lg-6
				form.form-horizontal
					fieldset
							legend Get Uber+Rail Directions
							form(method="post", action="/")
								.form-group
									label(for="startingLoc" class="col-md-1 col-xs-1 control-label")
										i.fa.fa-dot-circle-o
									.col-md-11.col-xs-11
										input(type="text" class="form-control" name="startingLoc" placeholder="Enter starting location" )
								.form-group
									label(for="endingLoc" class="col-md-1 col-xs-1 control-label")
										i.fa.fa-map-marker
									.col-md-11.col-xs-11
										input(type="text" class="form-control" name="endingLoc" placeholder="Enter destination")
								.form-group
									.col-md-12.col-xs-12
										button(type="submit" class="btn btn-primary pull-right" id="getDirections") Get Directions
			.col-xs-12.col-md-1.col-lg-1
				form(method="post", action="/")
					input(type="test", name="start")
					input(type="test", name="end")
					input(type="submit")
			.col-xs-12.col-md-5.col-lg-5
				p Slow-carb biodiesel ramps, blog readymade hoodie stumptown. Selfies narwhal offal, bicycle rights keytar iPhone bitters chillwave church-key hoodie austin blue bottle. Intelligentsia mlkshk leggings, kale chips taxidermy affogato salvia artisan. Master cleanse next level mlkshk, migas ethical yr mixtape normcore you probably haven't heard of them lo-fi semiotics. Lumbersexual hashtag microdosing aesthetic, selfies fashion axe man bun you probably haven't heard of them deep v skateboard forage yuccie leggings. Chillwave twee cred, ethical gentrify heirloom leggings hashtag poutine pug brooklyn green juice. Lo-fi dreamcatcher pickled, forage heirloom small batch kickstarter blue bottle mixtape normcore direct trade farm-to-table tousled 
