doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/paper.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://use.fontawesome.com/ffbd613272.js')
  body
   nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href='/') UbeRail
            
            
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li
              a(href='/about/') About

    .container
      block content

      footer
        .row
          .col-xs-12
            small &copy; Thomas Wolfe 2016

          script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
          script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )